body {
	background-color: #232323;
	margin: 0px;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.55%;
	border-radius: 25px;
	transition: all 0.3s;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

#main {
	background-color: white;
	width: 100%;
	height: 25px;
	margin: 0px;
	text-align: center;
}

#title {
	background-color: steelblue;


}

#colorDisplay {
	font-size: 50px;
}

#message {
	color: steelblue;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	display: inline-block;
	width: 20%;
	
}

button {
	border: none;
	background: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	height: 100%;
	font-size: inherit;
	color: steelblue;
	transition: all .4s;
	outline: none;
}

button:hover {
	background-color: steelblue;
	color:white;
}


h1 {
	color: white;
	margin: 0px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	font-size: 28px;
}

span {
	color: white;
	font-weight: normal;
	
} 

p {
	
	margin: 4px;
}

.selected {
	background-color: steelblue;
	color: white;
}